<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find rover_description)/urdf/model.urdf.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" type="double" value="25.0" />
    </node>
</launch>
