<launch>
  <!-- drive train, odometry, and IMU -->
  <include file="$(find rover)/launch/rover-drive.launch" />

  <!-- gps client -->
  <node name="gpsd_client" pkg="gpsd_client" type="gpsd_client" />

  <!-- kinect and laserscan -->
  <include file="$(find rover)/launch/kinect_fakelaser.launch" />

  <!-- camera -->
  <include file="$(find rover)/launch/lifecam.launch" />

  <!-- robot state -->
  <param name="robot_description" command="cat $(find rover)/urdf/urdf.xml" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- PS3 controller node -->
  <node respawn="true" pkg="ps3joy" type="ps3_joy_node" name="PS3_joy" >
    <param name="dev" type="string" value="/dev/input/js1" />
    <param name="deadzone" value="0.25" />
  </node>

  <!-- ps3 teleoperation -->
  <node pkg="rover" type="rover_teleop_joy" name="teleop" />
</launch>
